{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="max-w-4xl mx-auto px-8 py-24">
        <h1>Most Popular</h1>
        <ul id="item-list" class="mb-10">
            {% for item in items %}
            <li class='text-8xl font-thin'>{{item.name}} </li>
            {% endfor %}
        </ul>

        <form
            hx-post="{% url 'create-item' %}"
            hx-target = "#item-list"
            hx-swap="beforeend"
            _="on htmx:afterRequest reset() me">
            {% csrf_token %}
            <div class="flex gap-5 max-w-lg">
                <input type="text" name="name" placeholder="add item" autofocus/>
                <button> Submit </button>
            </div>
        </form>

    </div>

{% endblock content %}